{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 3,
	"semi": true,
	"printWidth": 120,
	"quoteProps": "preserve",
	"plugins": [
		"prettier-plugin-svelte"
	],
	"pluginSearchDirs": [
		"."
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}