@font-face {
	font-family: 'Neue Montreal';
	src: url('/fonts/NeueMontreal.woff2');
	font-style: normal;
	font-weight: 200 800;
}

@font-face {
	font-family: 'Right Grotesk Tight';
	src: url('/fonts/RightGroteskTight.woff2');
	font-weight: 100 900;
}

:root {
	--color-primary: #FFFFFF;
	--color-secondary: #30AAAA;
	--color-background: #0D0D0D;
	color: var(--color-primary);
	background: var(--color-background);
	font-family: 'Neue Montreal';
}